
metricbeat.modules:

- module: aerospike
  enabled: ${ES_METRICBEAT_AEROSPIKE:false}
  metricsets: ["namespace"]
  period: 10s
  hosts: ["aerospike:3000"]
  fields:
    source: overlay-metrics

- module: apache
  enabled: ${ES_METRICBEAT_APAPCHE:false}
  metricsets: ["status"]
  period: 10s
  hosts: ["http://127.0.0.1"]
  fields:
    source: overlay-metrics

- module: aws
  enabled: ${ES_METRICBEAT_AWS:false}
  period: 300s
  metricsets:
    - "ec2"
  access_key_id: '${AWS_ACCESS_KEY_ID:""}'
  secret_access_key: '${AWS_SECRET_ACCESS_KEY:""}'
  session_token: '${AWS_SESSION_TOKEN:""}'
  default_region: '${AWS_REGION:us-west-1}'
  fields:
    source: overlay-metrics

- module: ceph
  enabled: ${ES_METRICBEAT_CEPH:false}
  metricsets: ["cluster_disk", "cluster_health", "monitor_health", "pool_disk", "osd_tree"]
  period: 10s
  hosts: ["ceph:5000"]
  fields:
    source: overlay-metrics

- module: couchbase
  enabled: ${ES_METRICBEAT_COUCHBASE:false}
  metricsets: ["bucket", "cluster", "node"]
  period: 10s
  hosts: ["couchbase:8091"]
  fields:
    source: overlay-metrics

- module: couchdb
  enabled: ${ES_METRICBEAT_COUCHDB:false}
  metricsets: ["server"]
  period: 10s
  hosts: ["localhost:5984"]
  fields:
    source: overlay-metrics

- module: dropwizard
  enabled: ${ES_METRICBEAT_DROPWIZARD:false}
  metricsets: ["collector"]
  period: 10s
  hosts: ["localhost:8080"]
  metrics_path: /metrics/metrics
  namespace: example
  fields:
    source: overlay-metrics

- module: elasticsearch
  enabled: ${ES_METRICBEAT_ELASTICSEARCH:false}
  metricsets:
    - node
    - node_stats
  period: 10s
  hosts: ["http://elasticsearch:9200"]
  fields:
    source: overlay-metrics

- module: envoyproxy
  enabled: ${ES_METRICBEAT_ENVOYPROXY:false}
  metricsets: ["server"]
  period: 10s
  hosts: ["localhost:9901"]
  fields:
    source: overlay-metrics

- module: etcd
  enabled: ${ES_METRICBEAT_ETCD:false}
  metricsets: ["leader", "self", "store"]
  period: 10s
  hosts: ["localhost:2379"]
  fields:
    source: overlay-metrics

- module: golang
  enabled: ${ES_METRICBEAT_GOLANG:false}
  period: 10s
  hosts: ["localhost:6060"]
  heap.path: "/debug/vars"
  expvar:
    namespace: "example"
    path: "/debug/vars"
  fields:
    source: overlay-metrics

#------------------------------- Graphite Module -------------------------------
- module: graphite
  enabled: ${ES_METRICBEAT_GRAPHITE:false}
  metricsets: ["server"]
  fields:
    source: overlay-metrics

- module: haproxy
  enabled: ${ES_METRICBEAT_HAPROXY:false}
  metricsets: ["info", "stat"]
  period: 10s
  hosts: ["tcp://127.0.0.1:14567"]
  fields:
    source: overlay-metrics

- module: http
  enabled: ${ES_METRICBEAT_HTTP:false}
  period: 10s
  hosts: ["localhost:80"]
  namespace: "json_namespace"
  path: "/"
  fields:
    source: overlay-metrics

- module: http
  enabled: ${ES_METRICBEAT_HTTP:false}
  host: "localhost"
  port: "8080"
  fields:
    source: overlay-metrics

- module: jolokia
  enabled: ${ES_METRICBEAT_JOLOKIA:false}
  period: 10s
  hosts: ["localhost"]
  namespace: "metrics"
  jmx.mappings:
  jmx.application:
  jmx.instance:
  fields:
    source: overlay-metrics

- module: kafka
  enabled: ${ES_METRICBEAT_KAFKA:false}
  metricsets: ["consumergroup", "partition"]
  period: 10s
  hosts: ["kafka:9092"]
  fields:
    source: overlay-metrics

- module: kibana
  enabled: ${ES_METRICBEAT_KIBANA:false}
  metricsets: ["status"]
  period: 10s
  hosts: ["kibana:5601"]
  basepath: ""
  fields:
    source: overlay-metrics

- module: kubernetes
  enabled: ${ES_METRICBEAT_KUBERNETES:false}
  metricsets:
    - container
    - node
    - pod
    - system
    - volume
  period: 10s
  hosts: ["localhost:10255"]
  add_metadata: true
  in_cluster: true
  fields:
    source: overlay-metrics

- module: kubernetes
   enabled: ${ES_METRICBEAT_KUBERNETES:false}
 metricsets:
    - state_node
    - state_deployment
    - state_replicaset
    - state_statefulset
    - state_pod
    - state_container
  period: 10s
  hosts: ["kube-state-metrics:8080"]
  add_metadata: true
  in_cluster: true
  fields:
    source: overlay-metrics

- module: kubernetes
  enabled: ${ES_METRICBEAT_KUBERNETES:false}
  metricsets:
    - event
  fields:
    source: overlay-metrics

- module: kubernetes
  enabled: ${ES_METRICBEAT_KUBERNETES:false}
  metricsets:
    - apiserver
  hosts: ["https://${KUBERNETES_SERVICE_HOST}:${KUBERNETES_SERVICE_PORT}"]
  fields:
    source: overlay-metrics

- module: kvm
  enabled: ${ES_METRICBEAT_KVM:false}
  metricsets: ["dommemstat"]
  period: 10s
  hosts: ["unix:///var/run/libvirt/libvirt-sock"]
  fields:
    source: overlay-metrics

- module: logstash
  enabled: ${ES_METRICBEAT_LOGSTASH:false}
  metricsets: ["node", "node_stats"]
  period: 10s
  hosts: ["localhost:9600"]
  fields:
    source: overlay-metrics

- module: memcached
  enabled: ${ES_METRICBEAT_MEMCACHED:false}
  metricsets: ["stats"]
  period: 10s
  hosts: ["localhost:11211"]
  fields:
    source: overlay-metrics

- module: mongodb
  enabled: ${ES_METRICBEAT_MONGODB:false}
  metricsets: ["dbstats", "status", "collstats", "metrics", "replstatus"]
  period: 10s
  hosts: ["localhost:27017"]
  fields:
    source: overlay-metrics

- module: mssql
  enabled: ${ES_METRICBEAT_MSSQL:false}
  metricsets:
    - "transaction_log"
    - "performance"
  hosts: ["sqlserver://sa@localhost"]
  period: 10s
  fields:
    source: overlay-metrics

- module: munin
  enabled: ${ES_METRICBEAT_MUNIN:false}
  metricsets: ["node"]
  period: 10s
  hosts: ["localhost:4949"]
  fields:
    source: overlay-metrics

- module: mysql
  enabled: ${ES_METRICBEAT_MYSQL:false}
  metricsets:
    - "status"
  period: 10s
  hosts: ["root:secret@tcp(127.0.0.1:3306)/"]
  fields:
    source: overlay-metrics

- module: nats
  enabled: ${ES_METRICBEAT_NATS:false}
  metricsets: ["connections", "routes", "stats", "subscriptions"]
  period: 10s
  hosts: ["localhost:8222"]
  fields:
    source: overlay-metrics

- module: nginx
  enabled: ${ES_METRICBEAT_NGINX:false}
  metricsets: ["stubstatus"]
  period: 10s
  hosts: ["http://nginx"]
  server_status_path: "server-status"
  fields:
    source: overlay-metrics

- module: php_fpm
  enabled: ${ES_METRICBEAT_PHP_FPM:false}
  metricsets:
  - pool
  period: 10s
  status_path: "/status"
  hosts: ["localhost:8080"]
  fields:
    source: overlay-metrics

- module: postgresql
  enabled: ${ES_METRICBEAT_POSTGRESQL:false}
  metricsets:
    - database
    - bgwriter
    - activity
  period: 10s
  hosts: ["postgres://localhost:5432"]
  fields:
    source: overlay-metrics

- module: prometheus
  enabled: ${ES_METRICBEAT_PROMETHEUS:false}
  period: 10s
  hosts: ["localhost:9090"]
  metrics_path: /metrics
  fields:
    source: overlay-metrics

- module: rabbitmq
  enabled: ${ES_METRICBEAT_RABBITMQ:false}
  metricsets: ["node", "queue", "connection"]
  period: 10s
  hosts: ["localhost:15672"]
  fields:
    source: overlay-metrics

- module: redis
  enabled: ${ES_METRICBEAT_REDIS:false}
  metricsets: ["info", "keyspace"]
  period: 10s
  hosts: ["127.0.0.1:6379"]
  fields:
    source: overlay-metrics

- module: traefik
  enabled: ${ES_METRICBEAT_TRAEFIK:false}
  metricsets: ["health"]
  period: 10s
  hosts: ["localhost:8080"]
  fields:
    source: overlay-metrics

- module: uwsgi
  enabled: ${ES_METRICBEAT_UWSGI:false}
  metricsets: ["status"]
  period: 10s
  hosts: ["tcp://127.0.0.1:9191"]
  fields:
    source: overlay-metrics

- module: vsphere
  enabled: ${ES_METRICBEAT_VSPHERE:false}
  metricsets: ["datastore", "host", "virtualmachine"]
  period: 10s
  hosts: ["https://localhost/sdk"]
  username: "user"
  password: "password"
  insecure: false
  fields:
    source: overlay-metrics

- module: zookeeper
  enabled: ${ES_METRICBEAT_ZOOKEEPER:false}
  metricsets: ["mntr", "server"]
  period: 10s
  hosts: ["zookeeper:2181"]
  fields:
    source: overlay-metrics
  
output.console:
  enabled: true
  pretty: false

logging.level: warning
logging.metrics.enabled: false
logging.metrics.period: 30s
logging.json: false
